@tailwind base;
@tailwind components;
@tailwind utilities;

.stripybg {
    width: 240px;
    height: 240px;
    background-color: #fff;
    background-image: linear-gradient(0deg, transparent 99%, #eee 1%);
    background-size: 60px 80px;
    background-repeat: repeat;
  }

.whitebg{
    background-color: #fff;

}